/* ---------- Forside ---------- */
.nav_section {
  position: fixed;
  top: 0;
  z-index: 3;

  width: 100%;
  background-color: rgb(0, 0, 0, 0.2);

  font-family: var(--ff-secondary);
  color: white;

  letter-spacing: 2px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.nav_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 20px 30px;
}

.nav_container img {
  width: 35px;
}

.hero_container h1 {
  margin-top: -70px;

  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}

.hero_container p {
  max-width: 700px;
  margin: 40px 0;

  text-align: center;

  line-height: 30px;
}

.hero_section {
  display: grid;

  position: relative;
  z-index: 2;

  width: 100%;
  height: 100vh;
  background-image: url('../assets/img/cave-inside.jpg');
  background-position: center;
  background-size: cover;
  background-color: #101010;

  color: white;

  place-content: center;
  overflow: hidden;
}

.hero_container {
  display: grid;
  grid-template-columns: 1fr;

  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.hero_container button {
  width: 100%;
  max-width: 150px;
  height: 35px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  outline: transparent;
  font-weight: 800;
  font-size: 1.2rem;
}

.hero_container button:hover {
  background-color: #769914;

  color: white;

  cursor: pointer;
}

.hero_container button a {
  text-decoration: none;
  color: #000;
}

.hero_container div {
  /* border: 1px solid red; */
}

.forside_main {
  position: relative;

  width: 100%;
  height: 7500px;
  background-image: url('../assets/img/city-road.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: 'Open Sans', sans-serif;

  overflow: hidden;
}

.darkness {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: absolute;
  top: -6200px;
  z-index: 3;

  width: 100%;
  height: 100%;
}

.cave {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: absolute;
  top: -6300px;
  width: 50px;
  z-index: 4;

  width: 100%;
  height: 100%;
}
.cave img {
  height: 50vh;
}

#canvas {
  z-index: 1;
}

.forside_container {
  position: relative;

  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.castle {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: absolute;
  bottom: 0px;
  z-index: 3;

  width: 100%;
  height: 100%;
}

.castle img {
  height: 80vh;
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

/* ---------- Forside END ---------- */

/* ---------- Login ---------- */
.login_main {
  position: relative;

  width: 100%;
  height: 100vh;

  font-family: 'Open Sans', sans-serif;

  overflow: hidden;
}

.login_section {
  position: absolute;
  bottom: 0px;

  width: 100%;
  height: 6946px;
  background-image: url('../assets/img/city-road.jpg');
  background-position: center;
  background-size: cover;
}

.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  left: 50%;
  top: 50%;

  min-width: 300px;
  height: max-content;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);

  transform: translate(-50%, -50%);
}

.login_title {
  margin: 20px 0 25px;

  font-size: 30px;
  color: white;
}

.login_form {
  display: flex;
  flex-direction: column;

  height: 100%;

  color: white;
}

.login_form > button {
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.login_form input {
  width: 100%;
  min-width: 200px;
  height: 30px;
  margin-bottom: 30px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.btn_form {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.btn_form:hover {
  background-color: lightgray;
}

.login_form > a {
  padding-bottom: 20px;

  font-size: 13px;
  font-weight: 200;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);

  cursor: pointer;
}

.login_form > a:hover {
  color: rgba(255, 255, 255, 1);
}

/* ---------- Login END ---------- */

/* ---------- Registrer ---------- */
.register_main {
  position: relative;

  width: 100%;
  height: 100%;

  font-family: 'Open Sans', sans-serif;
}

.register_section {
  bottom: 0px;

  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url('../assets/img/city-road.jpg');
  background-position: center;
  background-size: cover;
}

.register_container {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 100px;
  height: 100%;

  text-align: center;
}

.register_title {
  margin: 10px 0 40px;

  font-size: 30px;
  color: white;
}

.register_grid_container {
  display: flex;
  flex-direction: row;

  margin: 25px 30px 25px;

  gap: 100px;
}

.register_form {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);

  color: white;
}

.register_form > button {
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.register_row {
  display: flex;
  flex-direction: column;
}

.register_form input,
textarea {
  width: 100%;
  min-width: 290px;
  height: 40px;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

textarea::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgb(147, 147, 147);
}

input::placeholder {
  font-size: 1.3rem;
  font-weight: 100;
  color: rgb(147, 147, 147);
}

.btn_register_form {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.btn_register_form:hover {
  background-color: lightgray;
}

@keyframes scroll {
  0% {
    top: -1000px;
  }

  100% {
    top: -4000px;
  }
}

.register_form > a {
  display: flex;

  width: max-content;
  margin: 5px auto 10px;

  font-size: 14px;
  font-weight: 200;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);

  cursor: pointer;
}

.register_form > a:hover {
  color: rgba(255, 255, 255, 1);
}

/* ---------- Registrer END ---------- */

/* ---------- Galleri ---------- */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

.aspect-4\/3 {
  aspect-ratio: 4 / 3;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.min-h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}

.max-w-7xl {
  max-width: 80rem;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.place-content-center {
  place-content: center;
}

.items-center {
  align-items: center;
}

.justify-items-center {
  justify-items: center;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.bg-black {
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));

  --tw-bg-opacity: 1;
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}

.bg-city-road {
  background-image: url('../assets/img/city-road.jpg');
}

.bg-cover {
  background-size: cover;
}

.bg-top {
  background-position: top;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.p-8 {
  padding: 2rem;
}

.p-4 {
  padding: 1rem;
}

/* ---------- Galleri END ---------- */

/* ---------- Medlem ---------- */
.medlem_main {
  position: relative;

  width: 100%;
  height: 100%;

  font-family: 'Open Sans', sans-serif;
}

.medlem_section {
  min-height: 100vh;
  background-image: url('../assets/img/city-road.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.medlem_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white;
}

.medlem_title {
  margin-top: 20px;

  text-align: center;
}

.medlem_container > p a {
  text-decoration: underline;
  color: lightgray;
}

.medlem_container > p a:hover {
  color: rgba(0, 0, 0, 0.5);
}

p {
  margin: 20px 0;
}

.pdf {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}

.medlem_container > button {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: orange;

  cursor: pointer;
}

.medlem_container > button a {
  text-decoration: none;
  color: black;
}

/* ---------- Medlem END ---------- */

/* ---------- Kontakt ---------- */
.kontakt_main {
  width: 100%;
  height: 100%;

  font-family: 'Open Sans', sans-serif;
}

.kontakt_section {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('../assets/img/city-road.jpg');
  background-position: top;
  background-size: cover;
}

.kontakt_container {
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.kontakt_title {
  margin: 10px 0 40px;
  text-align: center;
  font-size: 30px;
  color: white;
}

.kontakt_form {
  display: flex;
  flex-direction: column;

  padding: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.kontakt_form > button {
  max-width: 100px;
  margin: 0 auto;
}

.kontakt_form input,
textarea {
  width: 100%;
  min-width: 290px;
  height: 40px;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.kontakt_btn {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.kontakt_btn:hover {
  background-color: lightgray;
}

/* ---------- Kontakt END ---------- */
