/* ---------- Forside ---------- */
.hero_section {
  height: 100vh;
  background-color: white;
  z-index: 2;
  position: relative;
  display: grid;
  place-content: center;
}

.hero_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.hero_container > div {
  height: 500px;
  width: 500px;
  background-color: red;
}

.forside_main {
  height: 7500px;
  background-image: url('../assets/img/city-road.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;

  font-family: 'Open Sans', sans-serif;
}

#canvas {
  z-index: 1;
}

.forside_container {
  height: 100%;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.castle {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.castle img {
  height: 80vh;
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

/* ---------- Forside END ---------- */

/* ---------- Login ---------- */
.login_main {
  position: relative;

  width: 100%;
  height: 100vh;

  font-family: 'Open Sans', sans-serif;

  overflow: hidden;
}

.login_section {
  position: absolute;
  bottom: 0px;

  width: 100%;
  height: 6946px;
  background-image: url('../assets/img/city-road.jpg');
  background-position: center;
  background-size: cover;

  animation: scroll 95s infinite linear alternate;
}

.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  left: 50%;
  top: 50%;

  min-width: 300px;
  height: max-content;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);

  transform: translate(-50%, -50%);
}

.login_title {
  margin: 20px 0 25px;

  font-size: 30px;
  color: white;
}

.login_form {
  display: flex;
  flex-direction: column;

  height: 100%;

  color: white;
}

.login_form > button {
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.login_form input {
  width: 100%;
  min-width: 200px;
  height: 30px;
  margin-bottom: 30px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.btn_form {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.btn_form:hover {
  background-color: lightgray;
}

@keyframes scroll {
  0% {
    top: 0;
  }

  100% {
    top: -3000px;
  }
}

.login_form > a {
  padding-bottom: 20px;

  font-size: 13px;
  font-weight: 200;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);

  cursor: pointer;
}

.login_form > a:hover {
  color: rgba(255, 255, 255, 1);
}

/* ---------- Login END ---------- */

/* ---------- Registrer ---------- */
.register_main {
  position: relative;

  width: 100%;
  height: 100%;

  font-family: 'Open Sans', sans-serif;
}

.register_section {
  bottom: 0px;

  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url('../assets/img/city-road.jpg');
  background-position: center;
  background-size: cover;
}

.register_container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 100px;
  height: 100%;
}

.register_title {
  margin: 10px 0 40px;

  font-size: 30px;
  color: white;
}

.register_grid_container {
  display: flex;
  flex-direction: row;

  margin: 25px 30px 25px;

  gap: 100px;
}

.register_form {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);

  color: white;
}

.register_form > button {
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.register_row {
  display: flex;
  flex-direction: column;
}

.register_form input,
textarea {
  width: 100%;
  min-width: 290px;
  height: 40px;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

textarea::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgb(147, 147, 147);
}

input::placeholder {
  font-size: 1.3rem;
  font-weight: 100;
  color: rgb(147, 147, 147);
}

.btn_register_form {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.btn_register_form:hover {
  background-color: lightgray;
}

@keyframes scroll {
  0% {
    top: 0;
  }

  100% {
    top: -3000px;
  }
}

.register_form > a {
  width: max-content;
  margin: 5px auto 10px;

  font-size: 14px;
  font-weight: 200;
  display: flex;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);

  cursor: pointer;
}

.register_form > a:hover {
  color: rgba(255, 255, 255, 1);
}

/* ---------- Registrer END ---------- */

/* ---------- Galleri ---------- */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

.aspect-4\/3 {
  aspect-ratio: 4 / 3;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.aspect-video {
  aspect-ratio: 16 / 9;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.max-w-7xl {
  max-width: 80rem;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.place-content-center {
  place-content: center;
}

.items-center {
  align-items: center;
}

.justify-items-center {
  justify-items: center;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}

.bg-city-road {
  background-image: url('../assets/img/city-road.jpg');
}

.bg-cover {
  background-size: cover;
}

.bg-top {
  background-position: top;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.p-4 {
  padding: 1rem;
}

.p-8 {
  padding: 2rem;
}

/* ---------- Galleri END ---------- */

/* ---------- Medlem ---------- */
.medlem_main {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.medlem_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: white;
}

.medlem_title {
  margin-top: 20px;
  text-align: center;
}

.medlem_container > p a {
  text-decoration: underline;
  color: black;
}

.medlem_container > p a:hover {
  color: lightgrey;
}

p {
  margin: 20px 0;
}

.pdf {
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
}

.medlem_container > button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.medlem_container > button a {
  color: black;
  text-decoration: none;
}

/* ---------- Medlem END ---------- */

/* ---------- Kontakt ---------- */
.kontakt_main {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.kontakt_section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/img/city-road.jpg');
  background-position: top;
  background-size: cover;
}

.kontakt_container {
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.kontakt_title {
  margin: 10px 0 40px;
  font-size: 30px;
  color: white;
}

.kontakt_container > img {
  display: none;
}

.kontakt_form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

.kontakt_form > button {
  max-width: 100px;
  margin: 0 auto;
}

.kontakt_form input,
textarea {
  width: 100%;
  min-width: 290px;
  height: 40px;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.kontakt_btn {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.kontakt_btn:hover {
  background-color: lightgray;
}

/* ---------- Kontakt END ---------- */
