@import 'index.css';
@import 'mediaqueries.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
  font-family: 'Breathe Fire';
  src: url('../assets/BreatheFireIii-PKLOB.ttf');
}
/* ---------- Reset ---------- */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-family: var(--ff-primary);
  font-size: 0.625rem;
}

body {
  font-size: 1.6rem;
}
/* ---------- Reset END ---------- */

/* ---------- Variables ---------- */
:root {
  --clr-primary: #e2e2e2;
  --clr-secondary: #121418;
  --clr-accent: #0fc5b0;

  --ff-primary: 'Open Sans', sans-serif;
  --ff-secondary: 'Breathe Fire';

  /* 1.250 Major Third */
  --fs-300: 0.64rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.563rem;
  --fs-700: 1.953rem;
  --fs-800: 2.441rem;
  --fs-900: 3.052rem;
  --fs-1000: 3.815rem;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}
/* ---------- Variables END ---------- */

/* ---------- Global ---------- */

h1 {
  font-size: var(--fs-1000);
}

h2 {
  font-size: var(--fs-900);
}

h3 {
  font-size: var(--fs-800);
}

h4 {
  font-size: var(--fs-700);
}

h5 {
  font-size: var(--fs-600);
}

/* ---------- Global END ---------- */
