@media only screen and (min-width: 768px) {
  .register_container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .medlem_container {
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .register_row {
    flex-direction: row;
    gap: 20px;
  }

  .kontakt_container {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .kontakt_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .register_main {
    overflow: hidden;
    height: 100vh;
  }

  .register_section {
    height: 4106px;
    position: absolute;
    animation: scroll 95s infinite linear alternate;
  }

  .galleri_link a,
  .arrangement_link a,
  .kontakt_link a,
  .castle_link a {
    /* border: solid red 1px; */
    position: absolute;
    z-index: 5;
    cursor: pointer;
  }

  .galleri_link a {
    padding: 220px 170px;
    bottom: 2240px;
    right: 20px;
    border: red solid 1px;
  }

  .arrangement_link a {
    padding: 225px 180px;
    bottom: 1470px;
    left: 10px;
    border: red solid 1px;
  }

  .kontakt_link a {
    padding: 230px 210px;
    bottom: 1245px;
    right: -70px;
    border: red solid 1px;
  }

  .castle_link a {
    padding: 410px 350px;
    bottom: 0px;
    right: 240px;
    border: red solid 1px;
  }

  .medlem_container {
    width: 1200px;
  }

  .kontakt_container > img {
    display: block;
    width: 565px;
    border-radius: 10px;
    margin-right: 20px;
  }
}
